@model MyWebRestaurantApplication.Areas.Admin.Models.MealAddViewModel

<div class="row">
    <div class="col-6">
        <h2 class="text-center">@ViewData["Title"]</h2>
      
        <form method="post" enctype="multipart/form-data">
            @*enctype="multipart/form-data" for adding files  *@
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="@Model.Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control"">
                <span asp-validation-for="@Model.Price" class="small text-danger"></span>
            </div>       
            <div class="form-group">
                <label asp-for="PictureUrl"></label>
                <input asp-for="PictureUrl" class="form-control">
                <span asp-validation-for="@Model.PictureUrl" class="small text-danger"></span>
            </div>       
            <div class="form-group">
                <label asp-for="TotalGram"></label>
                <input asp-for="TotalGram" class="form-control">
                <span asp-validation-for="@Model.TotalGram" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <input class="btn btn-primary" type="submit" value="Confirm" />
        </form>
    </div>
</div>
