@using Microsoft.AspNetCore.Identity
@model IEnumerable<MealViewModel>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="row">
@foreach (var meal in Model)
{
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@meal.PictureUrl" alt="@meal.Id">
            <div class="card-body">
                <p class="card-text">
                    @meal.Name - @meal.Price
                    <ul>
                        @foreach (var ingredient in @meal.Ingredients)
                        {
                            <li>@ingredient.Name</li>
                        }
                    </ul>
                </p>
            </div>
            <div class="col-md-12">
                <div class="card-footer ">
                    <p class="card-text">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="btn btn-outline-success fa-long-arrow-alt-right" asp-action="AddToCard" asp-route-id="@meal.Id">
                                <i class="bi bi-eye-fill"></i> AddToCard
                            </a>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
}
</div>
