@using Microsoft.AspNetCore.Identity
@using MyWebRestaurantApplication.Data.Models
@model IEnumerable<MealViewModel>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (!Model.Any())
{
    <div class="row container">
        <div class="col-md-6 offset-3 alert alert-primary text-center mt-5">
            <h2>Dont have any products yet</h2>
            <h4>Add Some Meals</h4>     
            <a class="button-w3ls mt-5" asp-area="Admin" asp-controller="Menu" asp-action="AddMeal">Add</a>
        </div>
    </div>
}
<div class="row">
    @foreach (var meal in Model)
    {
        <div class="col-md-4 mt-5">
            <div class="card">
                <img class="card-img-top" height=300 width=200 src="@meal.PictureUrl" alt="@meal.Id">
                <div class="card-body">
                    <p class="card-text">
                        @meal.Name - @meal.Price
                    </p>
                </div>
                <div class="col-md-12">
                    <div class="card-footer ">
                        <p class="card-text">
                            <a class="btn btn-sm fa-long-arrow-alt-right" asp-controller="Menu" asp-action="Details" asp-route-id="@meal.Id">
                                <i class="bi bi-eye-fill"></i> Details
                            </a>
                            @if (SignInManager.IsSignedIn(User) & !User.IsInRole("Administrator"))
                            {

                                <a class="btn btn-outline-success fa-long-arrow-alt-right" asp-controller="User" asp-action="AddProduct" asp-route-id="@meal.Id">
                                    <i class="bi bi-eye-fill"></i> AddToCart(Price $@meal.Price)
                                </a>
                            }
                            @if (User.IsInRole("Administrator"))
                            {
                                <a class="btn btn-outline-warning fa-long-arrow-alt-right" asp-area="Admin" asp-controller="Menu" asp-action="EditMeal" asp-route-id="@meal.Id">Edit</a>
                                <a class="btn btn-outline-danger fa-long-arrow-alt-right" asp-area="Admin" asp-controller="Menu" asp-action="DeleteMeal" asp-route-id="@meal.Id">Delete</a>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
