@using Microsoft.AspNetCore.Identity
@using MyWebRestaurantApplication.Data.Models
@model IEnumerable<MealViewModel>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<div class="row">
    @foreach (var meal in Model)
    {
        <div class="col-md-4">
            <div class="card h-50" style="width: 20rem;">
                <img class="card-img-top" src="@meal.PictureUrl" alt="@meal.Id">
                <div class="card-body">
                    <p class="card-text">
                        @meal.Name - @meal.Price
                        <ul>
                            @foreach (var ingredient in @meal.Ingredients)
                            {
                                <li>@ingredient.Name</li>
                            }
                        </ul>
                    </p>
                </div>
                <div class="col-md-12">
                    <div class="card-footer ">
                        <p class="card-text">
                            @if (SignInManager.IsSignedIn(User) & !User.IsInRole("Administrator"))
                            {
                                <a class="btn btn-outline-success fa-long-arrow-alt-right" asp-controller="User" asp-action="AddProduct" asp-route-id="@meal.Id">
                                    <i class="bi bi-eye-fill"></i> AddToCart(Price $@meal.Price)
                                </a>
                            }
                            @if (User.IsInRole("Administrator"))
                            {
                                <a class="btn btn-outline-warning fa-long-arrow-alt-right" asp-area="Admin" asp-controller="Menu" asp-action="EditMeal" asp-route-id="@meal.Id">Edit</a>
                                <a class="btn btn-outline-danger fa-long-arrow-alt-right" asp-area="Admin" asp-controller="Menu" asp-action="DeleteMeal" asp-route-id="@meal.Id">Delete</a>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
