@model ShoppingCartViewModel


<div class="row container-fluid">
    <div class="col-md-8 offset-2 mt-5">
        <div class="text-center mt-5">
            <h3 class="title text-center text-dark mb-sm-5 mb-4 mt-5">
                <span>Cart Summary</span>
            </h3>       
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Meals)
                {
                    <tr>
                        <td class="align-middle">@item.Count</td>
                        <td class="align-middle">@item.Name</td>
                        <td class="align-middle">@item.Price.ToString("c")</td>
                        <td class="align-middle">@((item.Count * item.Price).ToString("c"))</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.TotalSum.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="button-div mt-5">
    <a href="/User/MyProducts" class="btn btn-outline-warning btn-lg btn-block">Back To Cart</a>
</div>
<div class="button-div">
    <a href="/Cart/ConfirmOrder" class="btn btn-outline-success btn-lg btn-block">Confirm Order (@Model.TotalSum$)</a>
</div>
